/*Below is boilerplate code copied from the MDN website*/
body {
  font-family: sans-serif;
  margin: 0;
  background: black;

}
header {
  background: purple;
  height: 100px;
}
h1 {
  text-align: center;
  color: white;
  line-height: 100px;
  margin: 0;
}
section {
  zoom: 1;
  display: flex; /*Each */
}
article {
  padding: 10px;
  margin: 10px;
  background: aqua;
  flex: 2 50px;
  justify-content: center;
  align-self: center;
  text-align: center;
  align-items: center;
}
/* Add your flexbox CSS below here */

button {
  display: flex;
  flex: 1 auto;
  align-items: center; /*controls cross axis*/
  justify-content: space-around; /*controls main axis*/
  font-family: "Comic Sans MS";
  max-width: 960px;
  margin: 50px auto;
  font-size: 18px;
  line-height: 1.5;
  width: 15%;
}

section {
  display: flex;
  flex-flow: row wrap;
  /*this is equal to flex-direction: row; and flex-wrap: wrap;*/
    /*
    The section element hereby becomes a FLEX CONTAINER while each child becomes a FLEX ITEM
    - The direction that the flex items are laid out is called the MAIN AXIS and the direction perpendicular to it is called the CROSS AXIS
    - Each item's measurement along either the main or cross axis is called the MAIN SIZE or the CROSS SIZE, respectively.
    */
  /**/
}

article:nth-of-type(3) {
  flex: 3 50px;
}